<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="image/png" href="/icons/icon_96x96.png">
    <title>TodoApp</title>
</head>
<body>
    <label for="task">Task</label>
    <input type="text" id="task">
    <button id="addTask">add</button>

    <div id="tasksList">
    </div>

    <script src="/Task.js"></script>
    <script src="/TasksRepository.js"></script>
    <script src="/app.js"></script>
    <script src="/sw.js"></script>

</body>
</html>